@charset "UTF-8";


@media screen and (min-width: 678px) and (max-width: 992px) {
    
    header.container{
    display: flex;
   flex-direction: row-reverse;
}


 span#menu{
    display:none;
 }

 menu>ul>li.item{
    display:inline-block;
 }
}


@media screen and (min-width: 992px ) and (max-width: 1200px) {


    header.container{
    display: flex;
   flex-direction: row-reverse;

}

    span#menu{
        display: none;
    }

    menu>ul>li.item{
        display:inline-block;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1444px) {
    

 header.container{
 display: flex;
flex-direction: row-reverse;
}


    span#menu{
        display: none;
    }


    menu>ul>li.item{
        display: inline-block;
    }


}