@charset "UTF-8";


*{
    padding: 0px;
    margin: 0px;
}


html{
    padding: 0px;
    margin: 0px;
}
:root{

    --font-1:()

    --font-2:();

    --cor-prim치ria:#C8D7EB;
    --cor-secund치ria:#7ACCEB;
}


body{
    background-color: var(--cor-prim치ria);
}

header{
    margin-top: 1px;
    border-radius: 5px;
    padding: 20px;
    background-color: var(--cor-secund치ria);
}

header>menu>ul>li{
    list-style-type: none;
}

header.container{
    display: flex;
    flex-direction: row-reverse;
}

li.item{
    background-color: wheat;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    flex: auto;
}

li>a{
    text-decoration: none;
}

li>a:hover{
    color: rgb(141, 6, 231);
}

main{
    background-color: white;
    box-shadow:  2px black;
    border-radius: 10px;
    height: 300px;
    padding: 30px;
    margin: 5px;
   
}

aside.rodape{
    background-color: wheat;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

aside>section{
    flex: auto;
}


footer{
    height: 250px;
    padding: 0px;
    margin: 0px;
    background-color: #7ACCEB;
}


